@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}

.snowflake-container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;

  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #283e51,
    #0a2342
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #283e51,
    #0a2342
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283e51, #0a2342);
}

.snowflake {
  position: fixed;
  background-color: #ccc;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.tree {
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 60vh;
}

#message {
  font-size: 50px;

  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: opacity 1s;
}

.linkContainer {
  position: absolute;

  top: 30px;
  right: 0;

  padding-right: 30px;

  font-size: 20px;

  display: flex;
  justify-content: flex-end;

  width: 100vw;
}

.divider {
  margin-left: 5px;
  margin-right: 5px;
}

.linkContainer a,
.linkContainer a:link,
.linkContainer a:active,
.linkContainer a:visited {
  color: white; /* must be explicit or webkit will override */
  text-decoration: underline;
  cursor: pointer;
}

.start-button {
  font-size: 30px;
  color: white; /* must be explicit or webkit will override */
  text-transform: uppercase;

  cursor: pointer;

  padding: 5px 30px 5px 30px;

  background-color: transparent;

  border: 2px solid white;
  border-radius: 15px;

  font-family: 'Mountains of Christmas', cursive;
}
